body{
	background:#eee;
	padding:30px 0;
	font:16px/1.3em Helvetica, Arial, sans-serif;
	color:#666;
}
.page{
	background:#FFF;
	width:960px;
	padding:60px 30px;
	margin:0 auto;
	box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

a:link,
a:visited{
	color:#2C82BC;
}
a:hover{
	color:#4CF;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Quicksand', Arial, Helvetica, sans-serif;
	/*font-weight: 800;*/
}
h1{
	font-size: 30px;
	margin-bottom:10px;
	color:#666;
}
h2{
	font-size: 22px;
	margin-bottom:18px;
	
	color:#2666Ba;
	
}
h3{
	font-size: 17px;
	color:#111;
	margin-bottom:10px;
}
.description{
	font-size: 14px;
	display:block;
	margin-bottom:50px;
}

p{
	margin-bottom:10px;
}

.left{
	width:28%;
	float:left;
}
.right{
	float:left;
	width:72%;
}
.left-content{
	padding-right:40px;
	text-align: right;
	font-size: 16px;
	line-height: 1.3em;
	color:#999;
}
.right-content{
	padding-left:40px;
	border-left: dotted 1px #CCC;
}

/* */
.photo{
	background: #eee;
	width:120px;
	height:150px;
	display: block;
	float:right;
	margin-bottom:15px;
}
.photo-content{
	
}

.section{
	margin-bottom:25px;
	padding-bottom:15px;
	border-bottom:dotted 1px #DDD;
}
.section:last-child{
	margin-bottom:0;
	border-bottom:none;
}

.skills ul{
	float:left;
	width: 33.33%;
	list-style: none inside disc;
}
.expertise div{
	float:left;
	width: 33.33%;
}
.expertise h3,
.expertise p{
	padding-right: 20px;
}

time{
	font-size: 11px;
    padding-left: 3px;
    position: relative;
    top:-1px;
}
.work p{
	margin-bottom: 15px;
}
.work p:last-child{
	margin-bottom: 0;
}
.education h3,
.work h3{
	margin-bottom: 0;
}

